<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="aizu_spider">
  <!-- Load Basic -->
  <xacro:include filename="$(find aizu_spider_tnk_description)/urdf/aizu_spider_basic.urdf.xacro"/>  

  <!-- Load Sensors -->
  <xacro:include filename="$(find aizu_spider_tnk_description)/urdf/sensors/sensors.urdf.xacro"/>  

  <xacro:include filename="$(find kinova_description)/urdf/j2n6s300_standalone.xacro"/>

  <!-- JACO2 Arm -->
  <joint name="chassis_to_jaco_link" type="fixed">
    <parent link="chassis"/>
    <child link="jaco_link"/>
    <origin xyz=" -0.06320 -0.094 0.5150" rpy="${M_PI/2} 0 ${M_PI/2}"/>
    <!-- <origin xyz=" -0.06320 -0.094 0.5150" rpy="0 0 0"/> -->
  </joint>
  <link name="jaco_link"/>
  <xacro:j2n6s300  base_parent="jaco_link"/>

</robot>
