<?xml version="1.0"?>
<robot name="DoubleArmV7-TNK" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- == DoubleArmV7-TNK base == -->
  <xacro:include filename="$(find double_arm_tnk_description)/urdf/DoubleArmV7A-TNK_base.urdf.xacro"/>
  
  <!-- == Sensor == -->
  <xacro:include filename="$(find double_arm_tnk_description)/urdf/SENSOR.urdf.xacro"/>
  
</robot>
