<robot name="">
  <link name="root">
    <inertial>
      <mass value="0.0" />
      <origin xyz="0.0 0.0 0.0" rpy="0 -0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-0.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-0.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
  </link>
</robot>