<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="aizu_spider">

  <xacro:macro name="acc_sensor_v0">
    <joint name="chassis_to_acc_sensor" type="fixed">
      <parent link="chassis"/>
      <child link="CHASSIS_ACCELERATION_SENSOR"/>
    </joint>
    <link name="CHASSIS_ACCELERATION_SENSOR"/>
  </xacro:macro>

</robot>
