<robot name="aizu_spider_tnk">
  <link name="chassis">
    <inertial>
      <mass value="0.0" />
      <origin xyz="0.0 0.0 0.0" rpy="0 -0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-0.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-1.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-2.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-3.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-4.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-5.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-6.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-7.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-8.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-9.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-10.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-11.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-12.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-13.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-14.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-15.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-16.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-17.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-18.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-19.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-20.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-21.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-22.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-23.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-24.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-25.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-26.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-27.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-28.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-29.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-30.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-31.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-32.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-33.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-34.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-35.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-36.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-37.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-38.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-39.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-40.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-41.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-42.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-43.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-44.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-45.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-46.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-47.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-48.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-49.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-50.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-51.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-52.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-53.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-54.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-0.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-1.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-2.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-3.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-4.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-5.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-6.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-7.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-8.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-9.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-10.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-11.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-12.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-13.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-14.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-15.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-16.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-17.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-18.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-19.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-20.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-21.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-22.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-23.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-24.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-25.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-26.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-27.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-28.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-29.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-30.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-31.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-32.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-33.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-34.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-35.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-36.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-37.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-38.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-39.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-40.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-41.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-42.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-43.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-44.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-45.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-46.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-47.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-48.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-49.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-50.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-51.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-52.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-53.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
      <geometry>
        <mesh filename="-root-shape-54.dae" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
  </link>
</robot>