<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="aizu_spider">
  <xacro:macro name="utm-30ln_v0" params="prefix *origin">
    <joint name="chassis_to_${prefix}_utm-30ln" type="fixed">
      <parent link="chassis"/>
      <child link="${prefix}_utm-30ln"/>
      <insert_block name="origin"/>
    </joint>
    <link name="${prefix}_utm-30ln">
      <inertial>
        <mass value="0.0" />
        <origin xyz="0.0 0.0 0.0" rpy="0 -0 0" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://aizu_spider_tnk_description/urdf/UTM-30LN/-root-shape-0.dae" scale="1.0 1.0 1.0" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
        <geometry>
          <mesh filename="package://aizu_spider_tnk_description/urdf/UTM-30LN/-root-shape-0.dae" scale="1.0 1.0 1.0" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
